@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1781885833860') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-licheng1:before {
  content: "\e64f";
}

.icon-dituleiditu:before {
  content: "\e9c0";
}

.icon-shisu:before {
  content: "\e610";
}

.icon-chuanganqi:before {
  content: "\e61e";
}

.icon-caidan:before {
  content: "\e651";
}

.icon-shezhi:before {
  content: "\e851";
}

.icon-daohang:before {
  content: "\e643";
}

.icon-xinshuai:before {
  content: "\e8bf";
}

.icon-zhihang:before {
  content: "\e63b";
}

.icon-liangdu:before {
  content: "\e608";
}

.icon-fanhui:before {
  content: "\e501";
}

.icon-jilu:before {
  content: "\e613";
}

.icon-30kejichuangxin-weixing:before {
  content: "\e631";
}

.icon-haiba:before {
  content: "\e69b";
}

.icon-xiangqing:before {
  content: "\e62d";
}

.icon-igw-l-sun:before {
  content: "\e64a";
}

.icon-xiangyouzhuan:before {
  content: "\e62b";
}

.icon-xiangzuozhuan:before {
  content: "\e62c";
}

.icon-pasheng:before {
  content: "\e6f2";
}

